{% extends 'base.html' %}
{% block content %}
{% for post in object_list %}

{% endfor %}
<!-- Carousel -->
<div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>

  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active hero-item">
      <img src="static/media/carousel1.png" alt="" class="d-block w-100 hero-item-img">
      <div class="carousel-caption top-0 mt-5">
        <h1>Show the community </br><span class="lime-h1">your</span> keyboard</h1>
        <p>Join in and register on the site to create posts, make comments</br>
          and get inspired by all custom builds!
        </p>
        <a href="{% url 'register' %}" class="btn btn-lime mt-5">Register now!</a>
      </div>
    </div>
    <div class="carousel-item hero-item">
      <img src="static/media/carousel3.png" alt="" class="d-block w-100 hero-item-img">
      <div class="carousel-caption top-0 mt-5">
        <h1>Show the community </br><span class="lime-h1">your</span> keyboard</h1>
        <p>Join in and register on the site to create posts, make comments</br>
          and get inspired by all custom builds!
        </p>
        <a href="{% url 'register' %}" class="btn btn-lime mt-5">Register now!</a>
      </div>
    </div>
    <div class="carousel-item hero-item">
      <img src="static/media/carousel4.png" alt="" class="d-block w-100 hero-item-img">
      <div class="carousel-caption top-0 mt-5">
        <h1>Show the community </br><span class="lime-h1">your</span> keyboard</h1>
        <p>Join in and register on the site to create posts, make comments</br>
          and get inspired by all custom builds!
        </p>
        <a href="{% url 'register' %}" class="btn btn-lime mt-5">Register now!</a>
      </div>
    </div>
  </div>

  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
<br>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2 text-center">
      <h3><span class="lime-h1">Total Posts</span> </br>
        {{ post_numbers }}</h3>
    </div>
    <div class="col col-lg-2 text-center">|</div>
    <div class="col col-lg-2 text-center">
      <h3><span class="lime-h1">Total Likes</span> </br>
        {{ total_likes }} </h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <h5 class="card-header">Latest Posts</h5>
        {% for post in latest_posts %}
        <div class="card mb-3 " style="max-width: 540px;">
          <div class="row g-0 row-index ">
            <div class="col-md-4 ">
              <img src="{{ post.image.url }}" class="img-fluid rounded-start" style="width: 100%; height: 100%; object-fit: cover;" alt="...">
            </div>
            <div class="col-md-8 ">
              <div class="card-body">
                <a href="{% url 'post_detail' post.pk %}" class="card-link">
                  <h5 class="card-title">{{ post.title }}</h5>
                </a>
                <p class="card-text">{{ post.description|slice:":150" }}</p>
                <p class="card-text"><small class="text-muted">{{ post.created }} By: {{ post.user }}</small></p>
                <p class="card-text text-end"><small class="text-muted"><i
                  class="fa-solid fa-heart fa-sm"></i>{{ post.total_likes}} <i class="fa-solid fa-comment fa-sm"></i> {{ post.comments.count }}</small></p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col">
      <div class="card">
        <h5 class="card-header">Activity feed</h5>
        {% for comment in latest_comments %}
        <div class="card-body">
          <div class="card">
            <div class="card-body">
              <p class="card-text">Commented on: {{ comment.post }}</p>
              <p class="card-text">"{{ comment.body }}"</p>
              <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">
                  <img src="{{ comment.user_profile.profile.image.url }}" alt="avatar" width="45" height="45"
                    height="25" />
                  <p class="small mb-0 ms-2">{{ comment.user_profile }}</p>
                </div>
                <div class="d-flex flex-row align-items-center">
                  <p class="small text-muted mb-0">{{ comment.created_on}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>



{% endblock %}