{% extends 'base.html' %}

{% block title %} Show your Keyboard Posts {% endblock %}

{% block content %}

<h1>Post_view page</h1>

<div class="container">
    {% for post in object_list %}
    <div class="col">
        <p><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a> - By - {{ post.user.first_name }}
        <a href="{% url 'post_edit' post.pk %}">Edit</a>
        <a href="{% url 'post_delete' post.pk %}">Delete</a></p>
        <p>Description: {{ post.description }}</p>
        <hr>
    </div>
    {% endfor%}
</div>

{% endblock %}