{% extends 'base.html' %}

{% block title %} Show your Keyboard Posts {% endblock %}

{% block content %}
<div class="container text-center mt-5 mb-5">
<h1>Keyboard posts</h1>
</div>
<div class="container">
  <div class="row">
    {% for post in object_list %}
    <div class="col-md-4">
      <div class="card mb-4">

        <div class="view overlay">
          <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <div class="card-body">
          <h4 class="card-title">{{ post.title }}</h4>
          <small>By - {{ post.user }} - {{ post.created }}</small>
          <p class="card-text mt-1">Description: {{ post.description|slice:":100" }}....</p>

          {% if user.is_authenticated %}
          {% if user.id == post.user.id %}
          <a href="{% url 'post_edit' post.pk %}">Edit</a>
          <a href="{% url 'post_delete' post.pk %}">Delete</a></p>
          {% endif %}
          {% endif %}

          <a href="{% url 'post_detail' post.pk %}" class="btn btn-lime mt-1">See more</a>
        </div>

      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}