{% extends 'base.html' %}

{% block title %} Show your Keyboard Posts {% endblock %}

{% block content %}

<h1>Post_view page</h1>

<div class="container-fluid">
    <div class="row">
    {% for post in object_list %}
    <div class="col">
        <p><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a><br>
            By - {{ post.user }} - {{ post.created }}
            {% if user.is_authenticated %}
                {% if user.id == post.user.id %}
                    <a href="{% url 'post_edit' post.pk %}">Edit</a>
                    <a href="{% url 'post_delete' post.pk %}">Delete</a></p>
                {% endif %}
            {% endif %}
            <hr>
        <p>Description: {{ post.description|slice:":200" }}...</p>
    </div>
    {% endfor%}
    </div>
</div>

{% endblock %}