{% extends 'base.html' %}
{% load static %}
{% block title %} Create a Post {% endblock %}
{% block content %}
<!-- Create a new post form -->
{% if user.is_authenticated %}
<div class="container text-center mt-5 md-1">
   <h1> Create a post</h1>
</div>
<br />
<div class="form-group">
   <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.media }}
      {{ form.as_p }}
      <div class="col text-center">
         <button class="btn btn-lime mt-2 mb-5">Create Post</button>
      </div>
   </form>
</div>
{% else %}
<h3>Please register and login to view this page...</h3>
{% endif %}
{% endblock %}