@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

:root {
/** Fonts and colors */
    --title: 'EB Garamond', serif;
    --main-font: 'Roboto', serif;
    --lime: #C9F234;
    --darkblue: #041d2f;
    --black: #000000;
}


body, html {
    margin: 0;
    padding: 0;
    height: 100%
}

main {
    flex: 1 0 auto;
}

/* Background image for site */
body {
    background: url("../media/background-image.webp") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}


/* navbar styling */
.navbar-background {
    background-color: #C9F234;
}

/* Carousel Styling*/
.hero-item {
    height: 480px;
}

.hero-item-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

.lime-h1 {
    color: #C9F234;
}

.btn-lime {
    background-color: #C9F234;
}