{% extends 'base.html' %}
{% load static %}
{% block title %} Profile {% endblock %}
{% block content %}
<!-- Profile information -->
<div class="container">
   <section class="mx-auto my-5" style="max-width: 23rem;">

      <div class="card testimonial-card mt-2 mb-3">
         <div class="card-up aqua-gradient"></div>
         <div class="card-img-overlay text-center"><h4 class="card-title font-weight-bold">{{ user.username }}</h4></div>
         <div class="avatar mx-auto white">
            <img src="{{ user.profile.image.url }}" class="rounded-circle img-fluid" alt="user avatar" width="90"
            height="90">
         </div>
         <div class="card-body text-center text-white">
            <p>Member since: {{ user.date_joined|date:"F j, Y" }}</p>
            <hr>
            <h5>Total Posts: {{ user.post_owner.count }}</h5>
            <h5>Total Likes: {{ user.post_likes.count }}</h5>
            <h5>Keyboards: {{ user.profile.keyboards }}</h5>
         </div>
      </div>

   </section>
</div>
<hr>
{% if user.is_authenticated %}
{% if user.id == profile.user.id %}
<!-- Edit profile form -->
<div class="container">
   <div class="row">
      <div class="col">
         <h5 class="mb-5 text-center">Update your profile</h5>
         <div class="form-group">
            <form method="POST" enctype="multipart/form-data">
               {% csrf_token %}
               {{ form.media }}
               {{ form.as_p }}
               <div class="col text-center mt-4 mb-5">
                  <button type="submit" class="btn btn-lime">Update Profile</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
{% endif %}
{% endif %}
</div>
{% endblock %}