{% extends 'base.html' %}
{% load static %}

{% block title %} Profile {% endblock %}

{% block content %}
<!-- Edit profile form -->
<div class="container text-center mt-5 md-1">
    <h1> Profile</h1>
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <div class="col text-center mt-4 mb-5">
                <button type="submit" class="btn btn-lime">Update Profile</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}